<%
# This template requires the following variables:
# [path]
%><%=
	ERB.new(File.read('views/header.xhtml.erb'), nil, nil, :header_xhtml).result(binding)
%><%
require 'cgi'
%><table class="tablesorter condensed-table bordered-table zebra-striped">
<thead>
<tr><th>Name</th>
<%
columns.each do |column|
  %><th><%= CGI.escapeHTML( column.to_s.split('_').collect{|word| word.capitalize}.join(' ') ) %></th><%
end
%></tr>
</thead>
<tbody>
<%
resources.each do |resource|
  %><tr class="epic_resource"><td class="epic_name"><a href="<%= resource[:uri] %>"><%= resource[:name] %></a></td><%
  columns.each do |column|
    %><td class="epic_<%= column %>"><%= resource[column] || '' %></td><%
  end
  %></tr><%
end
%>
</tbody>
</table><%=
	ERB.new(File.read('views/footer.xhtml.erb'), nil, nil, :footer_xhtml).result(binding)
%>